services:
    postgres:
        image: postgres:16
        container_name: ecommerce
        restart: unless-stopped
        environment:
            POSTGRES_USER: myuser
            POSTGRES_PASSWORD: secret
            POSTGRES_DB: ecommerce_db
        ports:
            - "5431:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data
    
 
volumes:
    postgres_data:


# docker exec -it url_shorten psql -U myuser -d url_shortening_service